/* Tag Induk */
body {
  background-color: lightblue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: gray;
}

.navbar {
  width: 100%;
  background-color: transparent; 
}


.navbar-nav {
  text-align: center;
}

.introduction {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  color: white;
}

/* Sections */
.colored-section {
  width: 100%
}

.white-section {
  background-color: #fff;
  width: 100%;
}

.first-section {
  height: 800px;
  background: url(https://cdn.pixabay.com/photo/2014/06/11/17/00/cook-366875_960_720.jpg) center top;
  background-size: cover;
}

.second-section {
  padding-top: 100px;
  background: url(https://images.pexels.com/photos/1036857/pexels-photo-1036857.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-size: cover;
  height: 790px;

}

.third-section {
  padding: 5% 5%;
  background: url(https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center bottom;
  background-size: cover;
  color: #fff;
  height: 790px;
}

.login-section {
  margin: 50px 50px;
}

.seat-container {
  text-align: center;
}

hr{
  border-top: 2px solid #333;
  width: 200px;
}

.menu-section{
  background: url(https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg) left center;
  background-size: cover;
  padding: 20px;
}

.menu-section h1{
  font-size: 5rem;
  color: steelblue;
  padding: 10px;
}

.menu-section h2{
  font-size: 3rem;
}

#menu-title{
  font-weight: bold;
  font-size: 2.5rem;
}

#menu-bg{
  background-color: #fff;
  padding: 5%;
}

.list-makanan {
  background: transparent;
}

.list-makanan li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

tbody tr{
  border-bottom: 1px solid #333;
}

tbody tr:last-child{
  border: none;
}

/* Additionals */

#scan {
  position: relative;
  left: 80px;
}

.price {
  text-align: center;
}

.seat {
  width: 400px;
  height: 350px;
}

.seat-aboutpremium {
  text-align: center;
  padding: 5%;
  height: 800px;
  background: url(https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  color: #fff;
  
}

.seat-aboutnormal {
  text-align: center;
  padding: 5%;
  height: 800px;
  background: url(https://images.pexels.com/photos/370984/pexels-photo-370984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  color: #fff;
}

.about {
  padding: 5%;
  text-align: center;
  height: 800px;
  background: url(https://cdn.pixabay.com/photo/2014/04/10/11/06/tomatoes-320860_1280.jpg);
  background-size: cover;
  color: black;
}

.social-icon {
  width: 50px;
}

.navbar-section {
  padding: 50px 50px;
}

.sign-up-1 {
  color: #fff;
}

.form-control {
  width: 250px;
  height: 40px;
  display: inline-block;
}

.linker {
  margin-right: 30px;
}

.about-adv {
  height: 520px;
  width: 450px;
  background-color: #fff;
  margin-bottom: 5%;
}

.signup-container {
  width: 350px;
  height: 650px;
  background-color: #333;
  margin-top: -30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Media Queries */